
.button1{
  font-size: 30px;
  position: absolute;
  right: 20px;
  
}



  .images {
    height: 400px;
    width: 1000px;
    margin-top: 10px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  
  .transitioning {
    opacity: 1;
  }

  .carousel-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .carousel-bar button{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 0.05px solid black;
  }

  .left-button{
    position: relative;
    left: 30px;
    top: 25px;
    opacity: 1;
  }

  .right-button{
    position: relative;
    right: 30px;
    top: 25px;
    opacity: 1;
  }