.plus{
    font-size: 50px;
    position: relative;
    bottom: 5px;
    margin-right: 8px;
}

.add-box{

    display: flex;
    background-color: rgb(98, 101, 101);
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
}

.entire-box{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-box:hover{
background-color: black;
transition: background-color 0.4s;
  
}